<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title></title>
	</head>
	<body>
		<% if (user) {%>
		<h1>Welcome back, <%= user.username %></h1>
		<p><a href="/log-out">Log out</a></p>
		<% } else { %>
		<h1>Please log in:</h1>
		<form action="/log-in" method="POST">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" placeholder="username" />
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" />
			<button>Log in</button>
		</form>
		<%= errors %>
		<h2><a href="/sign-up">Sign up</a></h2>
		<%}%>
	</body>
</html>
